*{
    font-family: Tahoma, Arial, sans-serif;

}
body{
    background: #161516;
}
.section-padding {
    padding: 70px 0;
}
.row{
    padding: 10px 0;
    padding-left: 35px;
    padding-right: 35px;
}
.section-padding {
    padding: 70px 0;
}
img{
    border-radius: 20px;
}
.carousel-item{
 height: 80vh;
 min-height: 300px;
}
.carousel-caption{
    bottom: 200px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0, 30, 82, 0.327);
    z-index: 1;
}
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-dark .navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color: #000;
}
.w-100{
    height: 100vh;
}
.navbar-toggler{
    padding: 1px 3px;
    font-size: 10px;
    line-height: 0.3;
}
.caracteristicas1 .card-body {
    font-size: 50px;
}
.team .card-body i{
    font-size: 20px;
}
.quees{
    background: #f2f2f2;
}
.objetivo1{
    background: #f2f2f2;
}
@media(max-width: 767px) {
    .navbar-nav{
        text-align: center;
    }
    .carousel-item{
        height: 70vh;
    }
    .w-100{
        height: 70vh;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17pxs;
    }
    .carousel-caption a{
        padding: 10px 15px;
        font-size: 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.5;
        font-size: 12px;
    }
    .quees-text{
        padding-top: 50px;
    }
    .card{
        margin-bottom: 30px;
    }
    .section-padding{
        padding: 50px 0;
    }
}